@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-size: 16px;
  background-color: #1E1E1E;
  color: white;
  height: 100vh;
  display: flex;
}
.bg-secondary{
  background-color: #303030 ;
}
.row{
  background-color: #414141;
}
.text-secondary{
  color: #A2A2A2;
}